/* Mobile first */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white-blue: #9ce7f5;
    --light-blue: #c8edf7;
    --lighter-blue: #F3F9FF;
    --sea-blue: rgb(65, 190, 255);
    --sky-blue: rgb(6, 160, 241);
    --grey-blue: rgb(16, 42, 67);
    --grey-light-blue: rgb(72, 101, 129);
    --grey-light:  rgb(36, 68, 100);
    --just-light-blue: rgb(232, 232, 233);
    --light-grey-blue: rgb(218, 230, 236);
    --dark-light-blue: #001449;
    --dark-blue: #001848;
    --deep-purple: #5f0d3b;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
    /* background-color: var(--lighter-blue); */
    background:  var(--light-blue);
    overflow-x: hidden;
}

/* scroll effects and scroll bar */
html {
    scroll-behavior: smooth;
}
/* ::-webkit-scrollbar {
    width: 4px;
    background: var(--sea-blue);
}
  
::-webkit-scrollbar-track {
    background: var(--light-grey-blue);
}
  
::-webkit-scrollbar-thumb {
    background: var(--sea-blue);
    border-radius: 5px;
} */
/* Section one  */
section.con1 {
    background: linear-gradient(var(--light-blue), var(--lighter-blue));
}
/* logo styling */
.con-logo {
    margin-left: -150px;
}
.my-logo {
    transform: scaleX(0.40);
}
/* .logo {
    font-family: Poppins;
    font-size: 0.8em;
    text-decoration: none;
} */

/* Navbar Styling */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 5px;
    padding: 5px 0px;
    color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.nav-list {
    display: none;
}

div.reg {
    display: none;
}

/* Toggle Button Styling */
.toggle {
    display: flex;
    margin-right: 15px;
}
.closing-bar {
    display: none;
}
.closing-bar i {
    font-size: 24px;
    color:black;
}
.toggle-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    height: 2px;
    width: 20px;
    background-color: black;
    margin: 4px 0;
}

/* Mobile Navigation */
.nav-list, .reg {
    display: none;
}

.mobile-nav {
    display: none;
    height: 500px;
    width: 100%;
    background: var(--grey-blue);
}

.mobile-nav ul {
    list-style: none;
    padding: 10px;
    /* background: white; */
    border-radius: 10px;
    margin: 5px;
}

.mobile-nav ul li {
    margin: 10px 0;
}

.mobile-nav ul li a, .mobile-nav ul li button {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: var(--light-blue);
    border: none;
}

.mobile-nav ul li button {
    width: 100%;
    cursor: pointer;
}
/*  Headline */

.headline {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* background: linear-gradient(var(--light-blue),  var(--grey-blue)); */
    width: 100%;
    min-height: 100vh;
}
div.caption {
    width: 100%;
    padding: 20px;
    /* border: 1px solid black; */
}

.sentence {
    margin-bottom: 20px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.sentence p.p1, h2.p1{
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--grey-blue);
    position: relative;
}
.sentence p.p1 span{
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 700;
    white-space: nowrap;
    color: transparent;
    background-color: inherit;
    -webkit-text-stroke: 0.5px  var(--grey-blue);
    position: relative;
}

.sentence p.p1 span::before {
    content: "Dream Job";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: var(--grey-blue);
    -webkit-text-stroke: 0.5px;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }
    90% {
        width: 100%;
    }
}
.sentence p.p2, h2.p2{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
    line-height: 1.5;
    margin-top: 15px;
    /* position: relative; */
}

div.search-job {
    margin-top: 50px;
}
.search-job input {
    width: 60%;
    height: 30px;
    border-radius: 50px;
    border: none;
}

.search-job button {
    height: 35px;
    width: 25%;
    border-radius: 15px;
    font-weight: 500;
    margin-left: 10px;
    background-color: var(--grey-blue);
    color: white;
    cursor: pointer;
    opacity: 1;
    /* transition: background-color color  border 0.5s ease-in; */
    transition: opacity 0.5s ease-in;
}
.search-job button:hover {
    opacity: 0.8;
    /* background-color: var(--grey-light-blue);
    color: var(--grey-blue); */
    border: none;
}

div.heading-img {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}

div.heading-img img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    min-height: 200px;
    max-width: 100%;
}

section.con2 {
    margin-top: -50px;
    background: linear-gradient(var(--lighter-blue), var(--light-blue));
}

/* Job openings design */
div.line-details {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.line-details div.inner-line {
    height: 0.90px;
    width: 70px;
    background-color: var(--grey-blue);
    margin: 0 20px;
}
div.line-details div.inner-name span {
    font-size: 38px;
    font-family: 'Caveat', 'cursive';
    color: var(--grey-blue);
}
section.my-services {
    background-color: var(--light-blue);
    padding: 100px 20px;
    min-height: 700px;
    width: 100%;
}
/* div.service-details {
    padding-top: 30px;
} */
div.first-service div, div.inner-services div {
    margin-top: 20px;
}
div.inner-services1 {
    min-height: 50px;
    width: 100%;
    cursor: pointer;
    margin-top: 50px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transition: border-bottom 0.5s ease-in-out, border-top 0.5s ease-in-out;
}
div.inner-services1:hover {
    border-bottom: 1px solid var(--dark-blue);
    border-top: 1px solid var(--grey-blue);
}
div.inner-services{
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    transition: border-bottom 0.5s ease-in-out;
}

div.inner-services:hover {
    border-bottom: 1px solid var(--sky-blue);
}
div.service-num {
    margin-right: 60px;
}
div.service-num span {
    font-size: 18px;
    color: var(--grey-blue);
    font-family: sans-serif;
    font-weight: 600;
}
div.first-service {
    display: flex;
}
div span.service1 {
    font-size: 16px;
    color: var(--grey-blue);
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
div span.service2 {
    font-size: 24px;
    color: var(--grey-blue);
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 20px
}
div span.service3 {
    font-size: 18px;
    color: var(--grey-blue);
    font-family: sans-serif;
    font-weight: 400;
}
.job3 {
    margin-left: -50px;
}
div.service-arrow  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color: var(--grey-blue);;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
div.inner-services:hover div.service-arrow {
    background-color: var(--sky-blue);
}
div.inner-services:hover div.service-arrow span {
    color: var(--grey-blue);
}
div.service-arrow span {
    font-size: 20px;
    /* transform: rotate(-45deg); */
    color: #ffffff;
}

/* Footer */
footer {
    background-color: #1D1D1D;
    min-height: 250px;
    width: 100%;
}
div.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left:  20px;
    padding-right: 20px;
}
div.footer div {
    margin-top: 20px;
}
div.footer div p {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}
div.footer div p  span {
    color: var(--sky-blue);
}
div.footer div a {
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: var(--sky-blue);
    cursor: pointer;
    margin-right: 20px;
    transition: color font-size 0.5s ease-in;
}
div.footer div a:hover {
    font-size: 20px;
    color: var(--sea-blue);
}
div.footer  >:last-child  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: var(--sky-blue);
}
div.footer  >:last-child i {
    margin-left: 20px;
    font-size: 18px;
    transform: rotate(-90deg);
    color: #1D1D1D;
}
/* Media Queries for Responsiveness */
@media only screen and (min-width: 768px) {
    .toggle {
        display: none;
    }
    .toggle-button {
        display: none;
    }
    .con-logo {
        margin-left: -100px;
    }
    .my-logo {
        transform: scaleX(0.50);
    }
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nav-list  {
        list-style: none;
        margin-top: 20px;
    }
    
    .nav-list li {
        margin: 0 15px;
    }
    .nav-list li a {
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        font-weight: 550;
        transition: color 0.5s ease-in;
    }
    .nav-list li a:hover {
        color: var(--sky-blue);
    }
    div.reg {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    div.reg{
        margin-right: 20px;
    }
    div.reg button {
        width: 100px;
        height: 40px;
        font-size: 14px;
        font-family: Poppins;
        border-radius: 15px;
        border: none;
        position: relative;
        cursor: pointer;
    }
    
    .btn1 {
        border: 1px solid black;
        background-color: var(--lighter-blue);
        margin-right: 15px;
        transition: background-color 0.5s ease-in;
    }
    .btn1:hover {
        background-color: var(--white-blue);
    }
    .btn2 {
        background-color: var(--grey-light);
        color: white;
        opacity: 1;
        transition: opacity 0.5s ease-in;
    }
    .btn2:hover {
        opacity: 0.65;
    }
    /* Landing page captions */

    .sentence p.p1{
        font-size: 45px;
    }
    .sentence p.p1 span{
        font-size: 45px;
    }
    .sentence p.p2{
        font-size: 18px;
    }
    .headline {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 600px;
        padding-top: 20px;
    }
    div.caption {
        width: 50%;
        padding: 50px 20px;
        margin-top: 20px;
        /* border: 1px solid black; */
        min-height: 500px;
    }
    div.heading-img {
        width: 50%;
        padding: 20px;
        min-height: 500px;
        /* border: 1px solid black; */
    }
    div.heading-img img {
        width: 100%;
        margin-top: 15px;
        height: 400px;
        max-width: 100%;
    }
    .search-job button {
        height: 40px;
        width: 30%;
    }
    .search-job input {
        width: 60%;
        height: 40px;
        border-radius: 50px;
        /* border: 1px light var(--sky-blue); */
    }
    /* div.heading-img  img {
        transform: scale(1.2);
    } */

     /* Services Section */
     div.inner-services{
        min-height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #4d4c4c;
        transition: border-bottom 0.5s ease-in-out;
    }
    div.first-service div, div.inner-services div {
        margin-top: 0px;
    }

     /* Footer */
    footer {
        min-height: 100px;
        width: 100%;
    }
    div.footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 40px;
        /* padding-left:  20px; */
        /* padding-right: 20px; */
    }
    div.footer  >:last-child i {
        margin-left: 20px;
        font-size: 18px;
        transform: rotate(-90deg);
        color: #1D1D1D;
    }
    div.footer div {
        margin-top: 0px;
    }
}
